<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shree.firebaseandroid">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS">
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logowotr"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".Wotrorg"
        android:theme="@style/AppTheme2">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key_google_places" />

        <activity
            android:name=".Splashscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProjectActivities"
            android:icon="@drawable/lnt_icon_72x72"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.QuarterAct"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.FullScreenImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".view.ProfileDetails"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.AddExpense"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.Letsmeet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        SubActivities
        <activity
            android:name=".Activities.Announcement"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.ViewExpense"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.DailogAct"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity android:name=".Activities.QuarterAct"
            android:screenOrientation="portrait"
            android:parentActivityName=".ProjectActivities"
            android:theme="@style/AppTheme" ></activity>
    </application>

</manifest>